{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="header"><i class="fa-solid fa-note-sticky"></i> wK todo list</div>

    <div class="menu">
        <div class="menu-header" onclick="toggleSubmenu()">
            <span><i class="fa-solid fa-cake-candles"></i> Birthdays</span>
            <span><i class="fa-solid fa-chevron-down"></i></span>
        </div>
        <div class="submenu" id="submenu">
            {% for item in birthdays %}
                <div class="submenu-item {{ item.priority.icon }}"> {{ item.person_name}} - {{ item.datetime }}</div>
            {% empty %}
                <div class="submenu-item">items not found ...</div>
            {% endfor %}
        </div>
    </div>

    <!-- Notes List -->
    <div id="notes-list">
        {% for event in events%}
        <div class="note-item medium">
            <div class="left">
                <i class="{{ event.priority.icon }} priority-icon"></i>
                <span>{{ event.name }} -> {{ event.execute_time }}</span>
            </div>
        </div>
        {% empty %}
            <p>there is't any item ...</p>
        {% endfor %}
    </div>

</div>

{% endblock content %}